<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="COMMON">
<!--    <select id="selectMember" resultType="customer">-->
<!--        select-->
<!--            member_id-->
<!--            , name-->
<!--            , birth_date-->
<!--            , email-->
<!--            , password-->
<!--            , join_date-->
<!--            , create_dt-->
<!--            , create_user-->
<!--            , update_dt-->
<!--            , update_user-->
<!--        from member-->
<!--        where member_id = #{value}-->
<!--    </select>-->

<!--    <insert id="insertMember" parameterType="customer">-->
<!--        INSERT INTO member-->
<!--        (-->
<!--        NAME, surname, birth_date, email, PASSWORD-->
<!--        , JOIN_date, create_dt, create_user-->
<!--        )-->
<!--        VALUES-->
<!--        (-->
<!--        #{name}, #{surname}, #{joinDate}, #{email}, #{password}-->
<!--        ,#{joinDate} , #{createDt}, #{createUser}-->
<!--        )-->
<!--    </insert>-->
    <select id="selectMemberBrief" resultType="customerShort">
        select
            member_id
             , name
             , surname
        from member
        where member_id = #{value}
    </select>
</mapper>