<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EVENT">
<!--    <select id="selectMember" resultType="customer">-->
<!--        select-->
<!--            member_id-->
<!--            , name-->
<!--            , birth_date-->
<!--            , email-->
<!--            , password-->
<!--            , join_date-->
<!--            , create_dt-->
<!--            , create_user-->
<!--            , update_dt-->
<!--            , update_user-->
<!--        from member-->
<!--        where member_id = #{value}-->
<!--    </select>-->

<!--    <insert id="insertMember" parameterType="customer">-->
<!--        INSERT INTO member-->
<!--        (-->
<!--        NAME, surname, birth_date, email, PASSWORD-->
<!--        , JOIN_date, create_dt, create_user-->
<!--        )-->
<!--        VALUES-->
<!--        (-->
<!--        #{name}, #{surname}, #{joinDate}, #{email}, #{password}-->
<!--        ,#{joinDate} , #{createDt}, #{createUser}-->
<!--        )-->
<!--    </insert>-->
    <select id="selectEvent" resultType="event">
        SELECT
            id,
            title,
            operator_id,
            event_type,
            reg_date,
            from_dt,
            to_dt,
            description,
            place_name,
            place_addr,
            create_dt,
            update_dt,
            create_user_id,
            update_user_id
        FROM
            event
        where id = #{value}
    </select>


    <select id="selectListEvents" resultType="event">
        SELECT
        id,
        title,
        operator_id,
        event_type,
        reg_date,
        from_dt,
        to_dt,
        description,
        place_name,
        place_addr,
        create_dt,
        update_dt,
        create_user_id,
        update_user_id
        FROM
        event
        where title like CONCAT('%',CONCAT(#{title}, '%'))
        and from_dt between str_to_date(#{fromFromDate},'%Y-%m-%d') and str_to_date(concat(#{fromToDate},'23:59:59'),'%Y-%m-%d %H:%i:%s')
    </select>


    <select id="selectListEventsByStauts" resultType="event">
    SELECT
        id,
        title,
        operator_id,
        event_type,
        reg_date,
        from_dt,
        to_dt,
        description,
        place_name,
        place_addr,
        create_dt,
        update_dt,
        create_user_id,
        update_user_id
    FROM event
    where 1 = 1
        <if test="title != null and title != '' ">
    AND title like CONCAT('%',CONCAT(#{title}, '%'))
        </if>
        <choose>
            <when test="status == 'BEFORE'">
    AND title like #{title}
            </when>
            <when test="status == 'ING'">
    AND author_name like #{author.name}
            </when>
            <when test="status == 'AFTER'">
    AND author_name like #{author.name}
            </when>
        </choose>
    </select>

    <insert id="insertingEvent">
        INSERT
        INTO
            event
        (title,
         operator_id,
         event_type,
         reg_date,
         from_dt,
         to_dt,
         description,
         place_name,
         place_addr,
         create_dt,
         create_user_id)
        VALUES (
                   #{title},
                   #{operatorId},
                   #{eventType},
                   str_to_date( #{regDate} ,'%Y-%m-%d' ),
                   #{fromDt},
                   #{toDt},
                   #{description},
                   #{placeName},
                   #{placeAddr},
                   #{createDt},
                   1)
    </insert>
</mapper>