<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ExecutingEvent">

    <insert id="insertExecutingEvent">
        INSERT INTO executing_event
        (title,
         event_serial_number,
         operator_id,
         reg_date,
         from_dt,
         to_dt,
         place_name,
         place_addr)
        VALUES(#{title},
               #{eventSerialNumber},
               #{operatorId},
               #{regDate},
               #{fromDt},
               #{toDt},
               #{placeName},
               #{placeAddr});
    </insert>


    <select id="selectingExecutingEventWithRegDate" resultType="SearchWithJoin">
        SELECT
            ee.id,
            ee.title,
            ee.event_serial_number,
            ee.operator_id,
            ee.reg_date,
            ee.from_dt,
            ee.to_dt,
            ee.place_name,
            ee.place_addr,
            e.event_type,
            e.description,
            e.create_dt,
            e.update_dt,
            e.create_user_id,
            e.update_user_id,
            e.status_of_event
        FROM executing_event ee
                 INNER JOIN event e ON ee.id = e.id
        WHERE ee.id = #{id};

    </select>


</mapper>
